<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="Bienvenido a LoroDigi" class="img-responsive text-center" src="modules/core/client/img/brand/loro_pasos.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        La forma fácil de obtener y administrar tus certificados laborales.
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Empieza Ya</a>
      </p>
    </div>
  </div>
  
</section>
