<section>
    <div class="page-header">
        <h1>Articles</h1>
    </div>

    <div class="container">
        POLÍTICA DE PRIVACIDAD La presente Política de Privacidad establece los términos en que LoroDigi SAS usa y protege la información
        que es proporcionada por sus usuarios al momento de utilizar su sitio web. Esta compañía está comprometida con la
        seguridad de los datos de sus usuarios. Cuando le pedimos llenar los campos de información personal con la cual usted
        pueda ser identificado, lo hacemos asegurando que sólo se empleará de acuerdo con los términos de este documento.
        Sin embargo esta Política de Privacidad puede cambiar con el tiempo o ser actualizada por lo que le recomendamos
        y enfatizamos revisar continuamente esta página para asegurarse que está de acuerdo con dichos cambios. La Política
        se estructura siguiendo los mandatos de la ley estatutaria 1581 de 2012, decretos y demás normativa que la complemente,
        modifique o derogue. Alcance La Política de LoroDigi SAS cubre todos los aspectos administrativos, organizacionales
        y de control que deben ser cumplidos por los directivos, funcionarios, contratistas y terceros que laboren o tengan
        relación directa con la Compañía. Marco normativo · Ley 1581 de 2012 mediante la cual se expidió el Régimen General
        de Protección de Datos Personales. · Decretos y circulares externas que reglamenten la norma indicada en el numeral
        anterior. · Sentencia de Constitucionalidad C–748 de 2011 mediante la cual se declaró exequible el Proyecto de Ley
        Estatutaria de Protección de Datos Personales. Información que es recogida Nuestro sitio web podrá recoger información
        personal por ejemplo: Historia laboral, Nombre, información de contacto como su dirección de correo electrónica e
        información demográfica. Así mismo cuando sea necesario podrá ser requerida información específica para procesar
        algún pedido o realizar una entrega o facturación. LoroDigi SAS, tendrá siempre presente que los datos personales
        son propiedad de las personas a las que hacen referencia y que solamente ellas pueden decidir sobre los mismos. LoroDigi
        SAS hará uso de dichos datos solamente para las finalidades de acuerdo con lo establecido en el artículo 30 de la
        Ley 527 de 1999 y dentro de su objeto social respetando en todo caso la normativa vigente sobre la Protección de
        Datos Personales. Uso de la información recogida Nuestro sitio web emplea la información con el fin de proporcionar
        el mejor servicio posible, particularmente para mantener un registro de usuarios, de su historia laboral en caso
        que aplique, y mejorar nuestros productos y servicios. Es posible que sean enviados correos electrónicos periódicamente
        a través de nuestro sitio con ofertas especiales, nuevos servicios y otra información publicitaria que consideremos
        relevante para usted o que pueda brindarle algún beneficio, estos correos electrónicos serán enviados a la dirección
        que usted proporcione y podrán ser cancelados en cualquier momento. LoroDigi SAS está altamente comprometido para
        cumplir con el compromiso de mantener su información segura. Usamos los sistemas más avanzados y los actualizamos
        constantemente para asegurarnos que no exista ningún acceso no autorizado. Incorporamos en todas nuestras actuaciones
        el respeto por la protección de datos personales. En consecuencia, solicitaremos desde el ingreso del dato, autorización
        para el uso de la información que reciba para las finalidades propias de los servicios que prestamos; respetaremos
        los principios establecidos en la ley y atenderemos en sus actuaciones y manejo de información de datos personales
        las finalidades que se deriven de la recolección de los mismos; implementaremos las estrategias y acciones necesarias
        para dar efectividad al derecho consagrado en la ley estatutaria 1581 de 2012 y demás normativa que la complemente,
        modifique o derogue. Daremos a conocer a todos sus usuarios los derechos que se derivan de la protección de datos
        personales. Generalidades Sobre la Autorización LoroDigi SAS solicitará la autorización para el tratamiento de datos
        personales por cualquier medio que permita ser utilizado como prueba. Dicha autorización puede ser parte de un documento
        más amplio, como por ejemplo un contrato o de un documento específico para tal efecto. En todo caso, la descripción
        de la finalidad del tratamiento de los datos también se informará mediante el mismo documento específico o adjunto.
        LoroDigi SAS informará al titular de los datos, lo siguiente: · El tratamiento al que serán sometidos sus datos personales
        y la finalidad del mismo. · Los derechos que le asisten como Titular. · Los canales en los cuales podrá formular
        consultas y/o reclamos. Datos Personales Sensibles Los datos sensibles son aquellos datos que afectan la intimidad
        del titular o cuyo uso indebido puede generar su discriminación, tales como aquellos que revelen el origen racial
        o étnico, la orientación política, las convicciones religiosas o filosóficas, la pertenencia a sindicatos, organizaciones
        sociales, de derechos humanos o que promueva intereses de cualquier partido político o que garanticen los derechos
        y garantías de partidos políticos de oposición así como los datos relativos a la salud, a la vida sexual y los datos
        biométricos. LoroDigi SAS restringirá el tratamiento de datos personales sensibles a lo estrictamente indispensable
        y solicitará consentimiento previo y expreso sobre la finalidad de su tratamiento. Tratamiento de Datos Personales
        Sensibles Se podrá hacer uso y tratamiento de los datos catalogados como sensibles cuando: · El Titular haya dado
        su autorización explícita a dicho tratamiento, salvo en los casos que por ley, no sea requerido el otorgamiento de
        dicha autorización. · El tratamiento sea necesario para salvaguardar el interés vital del Titular y este se encuentre
        física o jurídicamente incapacitado. En estos eventos, los representantes legales deberán otorgar su autorización.
        · El tratamiento se refiera a datos que sean necesarios para el reconocimiento, ejercicio o defensa de un derecho
        en un proceso judicial. · El tratamiento tenga una finalidad histórica, estadística o científica, o dentro del marco
        de procesos de mejoramiento, siempre y cuando se adopten las medidas conducentes a la supresión de identidad de los
        titulares. Datos Personales de Niños, Niñas y Adolescentes Los menores de edad son Titulares de sus datos personales
        y por lo tanto portadores de los derechos correspondientes. De acuerdo a lo establecido en la Constitución Política
        y en concordancia con el Código de la Infancia y la Adolescencia, los derechos de los menores deben ser interpretados
        y aplicados de manera prevalente y por lo tanto, deben ser observados con especial cuidado. Conforme lo señalado
        en la Sentencia C-748 de 2011, las opiniones de los menores deben ser tenidas en cuenta al momento de realizar algún
        tratamiento de sus datos. LoroDigi SAS se compromete entonces, en el tratamiento de los datos personales, a respetar
        los derechos prevalentes de los menores. Queda proscrito el tratamiento de datos personales de menores, salvo aquellos
        datos que sean de naturaleza pública. Cookies Una cookie se refiere a un fichero que es enviado con la finalidad
        de solicitar permiso para almacenarse en su ordenador, al aceptar dicho fichero se crea y la cookie sirve entonces
        para tener información respecto al tráfico web, y también facilita las futuras visitas a una web recurrente. Otra
        función que tienen las cookies es que con ellas las web pueden reconocerte individualmente y por tanto brindarte
        el mejor servicio personalizado de su web. Nuestro sitio web emplea las cookies para poder identificar las páginas
        que son visitadas y su frecuencia. Esta información es empleada únicamente para análisis estadístico y después la
        información se elimina de forma permanente. Usted puede eliminar las cookies en cualquier momento desde su ordenador.
        Sin embargo las cookies ayudan a proporcionar un mejor servicio de los sitios web, estás no dan acceso a información
        de su ordenador ni de usted, a menos de que usted así lo quiera y la proporcione directamente. Usted puede aceptar
        o negar el uso de cookies, sin embargo la mayoría de navegadores aceptan cookies automáticamente pues sirve para
        tener un mejor servicio web. También usted puede cambiar la configuración de su ordenador para declinar las cookies.
        Si se declinan es posible que no pueda utilizar algunos de nuestros servicios. Enlaces a terceros Este sitio web
        pudiera contener en laces a otros sitios que pudieran ser de su interés. Una vez que usted de clic en estos enlaces
        y abandone nuestra página, ya no tenemos control sobre al sitio al que es redirigido y por lo tanto no somos responsables
        de los términos o privacidad ni de la protección de sus datos en esos otros sitios terceros. Dichos sitios están
        sujetos a sus propias políticas de privacidad por lo cual es recomendable que los consulte para confirmar que usted
        está de acuerdo con estas. Control de su información personal En cualquier momento usted puede restringir la recopilación
        o el uso de la información personal que es proporcionada a nuestro sitio web. Cada vez que se le solicite rellenar
        un formulario, como el de alta de usuario, puede marcar o desmarcar la opción de recibir información por correo electrónico.
        En caso de que haya marcado la opción de recibir nuestro boletín o publicidad usted puede cancelarla en cualquier
        momento. Esta compañía no venderá, cederá ni distribuirá la información personal que es recopilada sin su consentimiento,
        salvo que sea requerido por un juez con un orden judicial. Consultas Los Titulares de los datos personales o sus
        causahabientes, podrán consultar sus datos personales que se encuentren almacenados en la base de datos. En consecuencia,
        LoroDigi SAS garantizará el derecho de consulta, suministrando a los Titulares de datos personales, toda la información
        contenida en el registro individual o que esté vinculada con la identificación del Titular. Con respecto a la atención
        de solicitudes de consulta de datos personales, LoroDigi SAS garantiza: · Habilitar medios de comunicación electrónica
        u otros que considere pertinentes. · Establecer formularios, sistemas y otros métodos. · Utilizar los servicios de
        atención al cliente o de reclamaciones que se encuentren en operación. Independientemente del mecanismo que se implemente
        para la atención de solicitudes de consulta, estas serán atendidas en un término máximo de quince (15) días hábiles
        contados a partir de la fecha de su recibo. En el evento en el que una solicitud de consulta no pueda ser atendida
        dentro del término antes señalado, se informará al interesado antes del vencimiento del plazo las razones por las
        cuales no se ha dado respuesta a su consulta, la cual, en ningún caso podrá superar los cinco (5) días hábiles siguientes
        al vencimiento del primer término. Las consultas que se efectúen respecto a datos personales deberán ser remitidas
        mediante un correo electrónico a la siguiente dirección protecciondedatospersonales@lorodigi.com. Prerrogativas y
        derechos de los titulares Los Titulares de los datos personales tienen los siguientes derechos: · Acceder, conocer,
        actualizar y rectificar sus datos personales frente a LoroDigi SAS en su condición de responsable del tratamiento.
        · Por cualquier medio válido, solicitar prueba de la existencia de la autorización otorgada a LoroDigi SAS, salvo
        los casos en los que la Ley exceptúa la autorización. · Recibir información por parte de LoroDigi SAS, previa solicitud,
        respecto del uso que le ha dado a sus datos personales. · Modificar y revocar la autorización y/o solicitar la supresión
        de los datos personales cuando en el tratamiento no se respeten los principios, derechos y garantías constitucionales
        vigentes. · Tener conocimiento y acceder en forma gratuita a sus datos personales que hayan sido objeto de tratamiento.
        LoroDigi SAS Se reserva el derecho de cambiar los términos de la presente Política de Privacidad en cualquier momento
        de acuerdo a los parámetros permitidos por la Ley. Protección de datos personales Disponemos de mecanismos que garantizan
        la protección, almacenamiento y buen uso de sus datos personales, por eso y de acuerdo con la Ley 1581 de 2012 usted
        puede ejercer su derecho a conocerlos o suprimirlos diligenciando el formato de autorización o reclamación de tratamiento
        de datos personales y entregándolo en nuestras sedes. Consulte los formatos: Manual de políticas y procedimientos
        de protección de datos personales. Formato de privacidad y autorización expresa para el tratamiento de datos personales.
        Formato de reclamación para tratamiento de datos personales. La CCB ha recolectado datos personales de diversos titulares,
        en desarrollo de sus funciones privadas y públicas (estas últimas asociadas a la delegación de los Registros Públicos),
        y respeta los principios contemplados en la ley: legalidad, finalidad, libertad, veracidad o calidad, transparencia,
        acceso y circulación restringida, seguridad y confidencialidad. Si tiene dudas o comentarios, escríbanos a protecciondedatos@ccb.org.co.
        Consulte y descargue el documento de Política de protección de datos personales
    </div>
</section>