<section>
  <div class="page-header">

  </div>
  <div class="panel panel-primary" ng-init="vm.init();">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-12">
          <h1>Solicitud de certificado</h1>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <form name="vm.form.certificateForm" class="form-horizontal" ng-submit="vm.save(vm.form.certificateForm.$valid);$event.preventDefault()"
        novalidate>
        <div class="col-md-12">
          <fieldset>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group" show-errors>
                  <label class="control-label" for="title">Nombre de la organización <I>(Obligatorio)</I></label>

                  <md-content class="md-padding">
                    <!--<form ng-submit="$event.preventDefault()">-->
                    <md-autocomplete required md-input-name="autocompleteOrg" ng-disabled="vm.mdAutocompleteIsDisabled" md-no-cache="vm.mdAutocompleteNoCache"
                      md-selected-item="vm.mdAutocompleteSelectedItem" md-search-text-change="vm.mdAutocompleteSearchTextChange(vm.mdAutocompleteSearchText)"
                      md-search-text="vm.mdAutocompleteSearchText" md-selected-item-change="vm.mdAutocompleteSelectedItemChange(item)"
                      md-items="item in vm.mdAutocompleteQuerySearch(vm.mdAutocompleteSearchText)" md-item-text="item.organizationName"
                      md-min-length="0" placeholder="¿Cuál es el nombre de la organización que buscas?" md-clear-button="true">
                      <md-item-template>
                        <span md-highlight-text="vm.mdAutocompleteSearchText" md-highlight-flags="^i">{{item.organizationName + "- NIT:" + item.organizationId}}</span>
                      </md-item-template>
                      <md-not-found>
                        No se encontraron resultados para "{{vm.mdAutocompleteSearchText}}".
                      </md-not-found>
                      <div ng-messages="vm.form.certificateForm.autocompleteOrg.$error">
                        <div ng-message="required">This field is required</div>
                      </div>
                    </md-autocomplete>




                    <br>

                    <!--</form>-->
                  </md-content>


                  <input name="title" type="text" ng-model="vm.certificate.organizationName" id="title" class="form-control" placeholder="Indique el nombre de la organización enque trabajó aquí."
                    required>
                  <a href="#">La organización que busco no aparece...</a>
                  <div ng-messages="vm.form.certificateForm.title.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">El nombre de la organización es requerido.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">




              </div>

            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group" show-errors>
                  <label class="control-label" for="jobtitle">Cargo desempeñado <i>(Opcional)</i></label>
                  <input name="jobtitle" type="text" data-ng-model="vm.certificate.jobTitle" id="jobtitle" class="form-control" placeholder="Indique el nombre del cargo desempeñado aquí.">
                  <a href="#">El cargo que busco no aparece...</a>
                  <div ng-messages="vm.form.certificateForm.jobtitle.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">El nombre del cargo desempeñado es requerido.</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label class="control-label" for="startdate">Fecha inicio <i>(Opcional)</i></label>
                  <input type="date" min="2000-01-01T00:00:00" max="2017-12-31T00:00:00" name="startdate" data-ng-model="vm.certificate.startDate"
                    id="startdate" class="form-control" placeholder="startdate">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label class="control-label" for="enddate">Fecha fin <i>(Opcional)</i></label>
                  <input type="date" min="2000-01-01T00:00:00" max="2017-12-31T00:00:00" name="enddate" data-ng-model="vm.certificate.endDate"
                    id="enddate" class="form-control" placeholder="enddate">
                </div>
              </div>
            </div>
            <div class="form-group" show-errors>
              <label class="control-label" for="jobdescription">Descripción cargo <i>(Opcional)</i></label>
              <textarea name="jobdescription" data-ng-model="vm.certificate.jobDescription" id="jobdescription" class="form-control" cols="30"
                rows="5" placeholder="Describa el cargo desempeñado aquí."></textarea>
              <div ng-messages="vm.form.certificateForm.jobdescription.$error" role="alert">
                <p class="help-block error-text" ng-message="required">La descripción del cargo desempeñado es requerido.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p class="help-block">
                  La uníca información requerida para realizar una solicitud es el Nombre de la Organización en la que trabajaste. No obstante
                  puedes especificar la siguiente información en caso de que creas que puede facilitar el proceso de confirmación
                  de tu experiencia laboral.
                </p>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-default" ng-disabled="!(vm.certificate.termsAndConditionsAcceptance)">Solicitar</button>
            </div>
            <div ng-show="vm.error" class="text-danger">
              <strong ng-bind="vm.error"></strong>
            </div>
          </fieldset>
          <div class="row">
            <div class="col-sm-12">
              <div class="alert alert-danger">
                <div class='checkbox'>
                  <label class='help-block'><input name='termsAndConditionsAcceptance' type='checkbox'   ng-model="vm.certificate.termsAndConditionsAcceptance"  value=''> Confirmo que he Leido los Términos y Condiciones...</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>